.button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #5a3a33;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 0.6rem;
}

.button:hover {
    background-color: #412b25;
}

.button:disabled {
    background-color: #b0a09a;
    cursor: not-allowed;
}
